.section-shaped .shape {
    background: linear-gradient(45deg, #26798E 15%, #63CAA7 90%);
}

.cont{
    margin-top: 20px;
    text-align: center;
    display: flex;
  
}
table {
    width: 100%;
  }

.graficas{
    max-width: 100%;
    flex-direction:row;
    justify-content: center;
    margin-bottom: 15px;
}

.graficasindv{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.card-title{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}