.section-shaped .shape {
    background: linear-gradient(45deg, #27798f 1%, #ffe3b3 90%);
}

.cont{
    margin-top: 20px;
    text-align: center;
}

.mat-button{
    background-color: #27798f;
    color: #ffffff;
    text-align: right;

}

.mat-step{
    background-color: #27798f;
    color: #ffffff;
    text-align: center;
}

.img-fluid {
    width: 12%;
    height: auto;
    display: flexbox;
}

.card-img-top{
    width: 20%;
    height: auto;
    display: flex !important;
    align-items: center !important;
    align-content: center !important;
    object-fit: cover;
   
}


.mat-horizontal-stepper {
    margin-top: 16px;
    text-align: center;
  }
  
.form{
    display: flex !important;
    flex-direction:column; 
    align-items: center;
    margin-top: 10px;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: #fff !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color:#27798f!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color: #27798f !important; /*outer ring color change*/
}
