<main>

    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 shape-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container cont pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-white pb-5">
                  <mat-horizontal-stepper linear [labelPosition]= "'buttom'">
                    <mat-step label= "Categorias" [editable]= "true" [completed]="true">
                      <div>
                        <br>
                          <h1>¿Cómo categorizarías tu contenido?</h1>
                          <p><i><small>Elije un máximo de 2 Categorías:</small></i></p>
                          
                          </div>
                         <ul>
                        <li>
                            
                            <input type="checkbox" id="myCheckbox1"  />
                            <label for="myCheckbox1"><img src="./assets/img/theme/art.png" /></label>
                          </li>
                          <li>
                        
                            <input type="checkbox" id="myCheckbox2" />
                            <label for="myCheckbox2"><img src="./assets/img/theme/food.png" /></label>
                          </li>
                          <li>
                        
                            <input type="checkbox" id="myCheckbox3" />
                            <label for="myCheckbox3"><img src="./assets/img/theme/trading.png" /></label>
                          </li>

                          <li>
                        
                            <input type="checkbox" id="myCheckbox4" />
                            <label for="myCheckbox4"><img src="./assets/img/theme/music.png" /></label>
                          </li>
                        </ul>
                          
                          <br><br>                             
                          <div class="button button-footer-card">
                            <button mat-button matStepperNext style="margin-left: 10px">Siguiente</button>
                          </div>
                    
                  </mat-step>
                      <mat-step label= "Datos personales" [editable]= "true" [completed]="true" style="background-color: #569e86;">
                        <div>
                            <br>
                            <h1>Ingresa tus datos personales</h1> <br>
                            <form div="form" style="max-width: 90%; text-align: center; margin:auto;">
                                
                                  <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="bi bi-person"></i></span>
                                    </div>
                                      <input #name class="form-control" placeholder="Nombre" type="text" (focus)="focus=true" (blur)="focus=false">
                                  </div>
                                <br>
                               <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="bi bi-person-square"></i></span>
                                    </div>
                                    <input #nickname class="form-control" placeholder="Nickname" type="text" (focus)="focus=true" (blur)="focus=false">
                                </div>
                              <br>
                               <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="bi bi-youtube"></i></span>
                                    </div>
                                    <input #link class="form-control" placeholder="Link video YOUTUBE" type="url" (focus)="focus=true" (blur)="focus=false">
                                  </div>
                                  <br>
                                  <p><i><small>¿Cómo te describirías?</small></i></p>
                                  <ckeditor [editor]="editor" class="editortext" ></ckeditor>
                                  <br>
                                  <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="bi bi-image-fill"></i></span>
                                    </div>
                                    <input #profile class="form-control form-control-md" id="formFileLg" type="file" style="display:none; " multiple (change)="detectFiles($event)" />
                                    <label for="formFileLg" style="color: #aeb6be; margin-left: -10px;">Elegir Imagen de Perfil</label>
                                  </div>
                                  <br>
                                  <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="bi bi-card-image"></i></span>
                                    </div>
                                    <input #cover class="form-control form-control-md" id="formFileLg1" type="file" style="display:none; " multiple (change)="detectFiles($event)" />
                                    <label for="formFileLg1" style="color: #aeb6be; margin-left: -10px;">Elegir Imagen de Portada</label>
                                  </div>
                                  <div class="d-flex flex-row flex-wrap justify-content-start ml-4 mt-4">
                                    <img *ngFor="let url of urls" [src]="url" class="img-fluid img-profile img-thumbnail shadow">
                                  </div><br>
                                 
                                  
                  
                            </form>
                          </div>
                          <div class="button button-footer-card"><br><br>
                            <button mat-button matStepperPrevious >Atrás</button>
                            <button mat-button matStepperNext style="margin-left: 10px">Siguiente</button>
                      
                          </div>
                
                    </mat-step>
                      <mat-step label= " Medio de pago" [editable]= "true" [completed]="true">
                          <div>
                            <br>
                            <h1>¿Cómo recibirás tus bonificaciones?</h1>
                          </div>
                          <p><i><small>Elige un medio de pago:</small></i></p><br>
                          <ngx-paypal  [config]="payPalConfig"></ngx-paypal><br><br>
            
                              <br>
                            <div class="button button-footer-card">
                              <button mat-button matStepperPrevious >Atrás</button>
                              <button mat-button matStepperNext style="margin-left: 10px">ENVIAR TODO Y TERMINAR</button>
                            </div>
                      
                      </mat-step>
                     
                  </mat-horizontal-stepper>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  