.section-shaped .shape {
    background: linear-gradient(45deg, #27798f 1%, #ffe3b3 90%);
}

.cont{
    margin-top: 20px;
    text-align: center;
}

.mat-button{
    background-color: #9fb3b8;
    color: #ffffff;
    text-align: right;

}

.mat-step{
    background-color: #738b92;
    color: #ffffff;
    text-align: center;
}

.img-fluid {
    width: 12%;
    height: auto;
    display: flexbox;
}

.card-img-top{
    width: 25%;
    height: auto;
    display: flex !important;
    align-items: center !important;
    align-content: center !important;
    object-fit: cover;
    filter: drop-shadow(0px 0px 0.08rem #d1dbdc);
    margin-top: 20px;
}

.file{
    border-color: #738b92;
    width: 100%;
}

.cards-ps{
    filter: drop-shadow(2px 1px 0.80rem #f1f6f7);
    border-radius: 10px
}
.card-body{
    filter: drop-shadow(0px 0px 0.08rem #e7eff0);
    align-items: center !important;
    align-content: center !important;
}

.button-footer-card{
    text-align: right;
}

.mat-horizontal-stepper {
    margin-top: 16px;
    text-align: center;
  }

.form-control{
    filter: drop-shadow(0px 0px 0.08rem #e7eff0);
}
  
.form{
    display: flex !important;
    flex-direction:column; 
    align-items: center;
    margin-top: 10px;
}

.check-margin{
    display: flex;
    margin-left: 230px;

}
