<main>
  <section class="section section-shaped">
    <div class="shape shape-style-1 shape-primary">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="d-flex justify-content-center">
      <div class="cont  pt-lg-md">
              <div class="card-deck">
                <div *ngFor="let plan of plans">
                  <div class="card cards">
                    <br><div class="card-title">{{plan.namePlan}}</div>
                    <img class="card-img-top" style="float: center;margin-left: 38%;" src="{{plan.imagen}}">  
                      <font color="#27798f" size="5" face="Open Sans"><br><i><b>${{plan.price}}</b></i></font><font color="#27798f" size="3" face="Open Sans"> /mes</font>            
                      <div class="card-body" [class.show]="plan.visible">
                        <button mat-stroked-button (click)="editplan(modalDataEdit)" style="background-color: #eecb8b;">Editar</button><br><br>
                        <div class="card-text">{{plan.descriptionPlan}}</div><br>
                        <font color="#27798f" size="3" face="Open Sans"><br><i><b>Beneficios:</b></i></font>
                        <mat-list role="list" class= "beneficios">
                          <mat-list-item style="font-family: Open Sans; font-size: small;color: #2c4e57;"role="listitem">-{{plan.beneficio}}</mat-list-item>
                        </mat-list>
                      </div>
                      <div class= "text"  (click)="plan.visible = !plan.visible">{{ plan.visible ? 'Mostrar menos...': 'Mostrar más...' }}</div>
                  </div>   
                </div>
              </div>      
          </div>
      </div>
      <div class="text-crearplan">
        <h2><a><i class="bi bi-plus-circle"></i>
          <a (click)="newplan(modalDataNew)"> Crear Nuevo Plan de Suscripción</a><br>
        </a></h2>
      </div>
      <ng-template #modalDataEdit let-modal>
          <div class="modal-header">
            <img src="./assets/img/theme/editplan.png" style="float: right; width: 80%;" class="img-fluid"><br>
            <button type="button" class="close" style="margin-top: -10px;" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form div="form">
              <form div="form" style="max-width: 100%; text-align: center; margin:auto;">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-fonts"></i></span>
                      </div>
                        <input #title class="form-control" placeholder="Nombre del Plan" type="text" (focus)="focus=true" (blur)="focus=false">
                    </div><br>
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
                      </div>
                        <input #price class="form-control" placeholder="Precio por mes" type="text" (focus)="focus=true" (blur)="focus=false">
                    </div><br>
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-image-fill"></i></span>
                      </div>
                      <input #image class="form-control form-control-md" id="formFileLg" type="file" style="display:none;" (change)="detectFilesEdit($event)" />
                      <label for="formFileLg" style="color: #aeb6be; margin-top: 13px;">Adjuntar Imagen Plan</label>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                      <img *ngFor="let url1 of urls1" [src]="url1" style="margin-left: 10px;" class="img-fluid img-imagen shadow">
                    </div><br>
                    <ckeditor #textarea [config]="{placeholder: 'Añade una descripción...',toolbar: [ 'heading', '|', 'bold', 'italic','bulletedList', 'numberedList','undo', 'redo' ]}" [editor]="editor" class="editortext" (blur)="gettext($event)"></ckeditor><br>
                    <ng-multiselect-dropdown
                        [placeholder]="'Beneficios Disponibles'"
                        [settings]="dropdownSettings"
                        [data]="dropdownList"
                        (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown><br>
                </form>
            </form>
          </div>
            <div class="modal-footer">
              <button type="button" class="mat-button" style="background-color: #ffe3b3;" (click)="modal.close('Save click')">CERRAR</button>
              <button type="button" class="mat-button" style="background-color: #569e86;" (click)="modal.close('Save click')">GUARDAR</button>
            </div>
        </ng-template>
        <ng-template #modalDataNew let-modal>
          <div class="modal-header">
            <img src="./assets/img/theme/createplan.png" style="float: right; width: 80%;" class="img-fluid"><br>
            <button type="button" class="close" style="margin-top: -10px;" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form div="form">
              <form div="form" style="max-width: 100%; text-align: center; margin:auto;">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-fonts"></i></span>
                      </div>
                        <input #title class="form-control" placeholder="Nombre del Plan" type="text" (focus)="focus=true" (blur)="focus=false">
                    </div><br>
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
                      </div>
                        <input #price class="form-control" placeholder="Precio por mes" type="text" (focus)="focus=true" (blur)="focus=false">
                    </div><br>
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-image-fill"></i></span>
                      </div>
                      <input #image class="form-control form-control-md" id="formFileLg" type="file" style="display:none;" (change)="detectFilesNew($event)" />
                      <label for="formFileLg" style="color: #aeb6be; margin-top: 13px;">Adjuntar Imagen Plan</label>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                      <img *ngFor="let url of urls" [src]="url" style="margin-left: 10px;" class="img-fluid img-imagen shadow">
                    </div><br>
                    <ckeditor #textarea [config]="{placeholder: 'Añade una descripción...',toolbar: [ 'heading', '|', 'bold', 'italic','bulletedList', 'numberedList','undo', 'redo' ]}" [editor]="editor" class="editortext" (blur)="gettext($event)"></ckeditor><br>
                    <ng-multiselect-dropdown
                        [placeholder]="'Beneficios Disponibles'"
                        [settings]="dropdownSettings"
                        [data]="dropdownList"
                        (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown><br>
                </form>
            </form>
          </div>
            <div class="modal-footer">
              <button type="button" class="mat-button" style="background-color: #ffe3b3;" (click)="modal.close('Save click')">CERRAR</button>
              <button type="button" class="mat-button" style="background-color: #569e86;" (click)="modal.close('Save click')">GUARDAR</button>
            </div>
        </ng-template>
    </section>
</main>
