.section-shaped .shape {
    background: linear-gradient(45deg, #659aa8 0.1%, #9dd4c1 90%);
}
.cont{
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 70%;
    height: auto;

  
}

.mat-button{
    background-color: #9fb3b8;
    color: #ffffff;
    text-align: right;

}

.cards{
    filter: drop-shadow(2px 0.5px 0.80rem #a5b8bb);
    border-radius: 10px;
    border-color: #8c9fa3;
    max-width:290px;
    max-height: 400px;
    margin: 10px;
    justify-content: center;
  
}

.mat-stroked-button{
    background-color: #48977c;
    color: #fff;
    border-radius: 50px;
    margin: 0 4px;
    z-index: 50;
}

.card-img-top{
    width: 25%;
    height: auto;
    text-align: center !important;
    object-fit:cover;
   
}


.card-body{
    filter: drop-shadow(0px 0px 0.08rem #e7eff0);
    align-items: center !important;
    align-content: center !important;  
    
}

.card-title{
    font-size:15px;
    font-style: bold;
    margin-top: 7px;
}

.card-text{
    font-style: oblique;
    line-height: 16px;
    height: 50px;
    overflow: hidden;
}

.show {
    overflow: visible;
    height: auto;
  }

.text{
    cursor:pointer;
    font-size: small;
}

.card-deck{
    margin-bottom: 20px;
}

.button-footer-card{
    text-align: right;
}


@media screen and (max-width: 580px) {
  
    .cont{
        margin-top: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        max-width: 90%;
        height: auto;
    }

    .cards{
        max-height: 500px;
        
    }

}

