<main>

    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 shape-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      
      <div class="container todo justify-content-center">
        <div class= "pt-lg-md">
            <div class="card card-profile ">
                <img class="rounded-circle" style="text-align:center; margin-top: 10px;" src="./assets/img/theme/team-4-800x800.png" alt="Card image cap" >
                
                <div class="card-body px-lg-5 py-lg-4">
                  <h5 class="card-title" style="text-align: center;">¡Hola {{nickname}}!</h5>
                   </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">APOYANDO A</li>
                  <p class="card-text profile-text" style="margin-left: 10px;">Aún no apoyas a ningún creador</p>
                
           
                </ul>
                <div class="card-body">
                    <button mat-button >Buscar Creadores</button>
                    <button mat-button style="margin-left: 10px">Mi perfil</button>
                </div>
              </div>
        </div>
      
       
      <div class="container cont pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-white pb-5">

                <div class="card w-100 card-search" style="text-align: center;">
                    <div class="card-body px-lg-5 py-lg-4">
                        <div class="input-group mb-3 ">
                            <div class="input-group-prepend" style="align-items: center;">
                                <span class="input-group-text">
                                    <mat-icon  aria-label="Example home icon">search</mat-icon>
                                </span>
                                <input type="text" class="form-control" placeholder="Buscar Contenido..." [(ngModel)]="filterpost" name="filterpost" aria-label="SearchContenido" aria-describedby="basic-addon1">
                            </div>
                        </div>
                   
                    </div>
                </div>
                 

                 

                <ul> 
                <div *ngFor="let sub of subscriptions | filter: filterpost | slice:0:show; let i=index;" [sub]="sub" >
                    <div class="card-deck" >
                            <div class="card">
                                <img class="card-img-top" src="{{sub.image}}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{sub.title}}</h5>
                                    <p class="card-text">{{sub.description}}</p>
                                </div>
                               
                            <div class="card-footer">
                            <small class="text-muted">Publicado hace 10 minutos</small>
                            <a href="/user-profile" class="text-muted-publicadopor">Por JuanCarlo
                                <img src="./assets/img/theme/team-4-800x800.png" class="rounded-circle" style="width: 20px; margin-left: 5px; float: right;
                                ">
                            </a>
                        </div>
                        </div>
                  </div>
                 
                </div>
                
                  
                <button mat-raised-button (click)="increaseShow()" style="text-align: center;">Mostrar más</button>
            </ul>
           
            </div>
       
        </div>
        
      </div>
    </div>
  </div>
</div>
</section>
</main>
