<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <img class="card-img-top" src="./assets/img/theme/img-1-1200x1000.jpg" alt="Card image cap">
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container cont pt-lg-md">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="./assets/img/theme/team-4-800x800.png" class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 mt-5">
              <div class="card-profile-stats d-sm-flex flex-sm-row justify-content-center">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Suscriptores</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Seguidores</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 text-lg-right align-self-lg-center mt-5">
              <div class="card-profile-actions py-4 mt-lg-0">
                <button mat-stroked-button>Seguir</button>
                <button mat-stroked-button>Enviar Mensaje</button>
              </div>
            </div>
          </div>
          <div class="col-3 mt-5 ml-4"><h2 class="perfile-title">Juan Carlo</h2></div>
          <div class="text-start mt-lg-5 ml-lg-5 mt-2 ml-2" >
            <h4>Videojuegos, arte, entretenimiento</h4>
          </div>
          <div class="mt-2 pb-5 ml-lg-5 ml-2 mr-2">
            <div class="row">
              <div class="col-12">
                <p>Diseñador de videojuegos con más de 10 años de experiencia en desarrollo 
                  de juegos independientes tales como "Viva piñata" y "Who's your santa?!".
                  En caso de que mi trabajo sea te tu agrado puedes suscribirte para obtener
                   beneficios y ayudar a que más de mis proyectos salga adelante"</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
