.mat-raised-button{
    filter: opacity(80%) !important;
    border-radius: 50px !important;
    max-height: 35px !important;
    background-color: #27798f;
    text-align: center;
    color: #ffffff;
  
}

.input-group-prepend span{
    border-radius: 50px 0px 0px 50px !important;
    max-height: 35px;
}

.input-group input{
    max-height: 35px !important;
    max-width: 200px !important;
    border-radius: 0px 50px 50px 0px !important;
    margin-left: -4px;
}

nav.headroom--not-top  { 
    color: rgb(190, 187, 187); 
 }
nav.headroom--top  { 
    color: transparent !important;
}