.mat-raised-button{
    filter: opacity(80%) !important;
    border-radius: 50px !important;
    max-height: 35px !important;
    background-color: #27798f;
    text-align: center;
    color: #ffffff;
  
}

.input-group-prepend span{
    border-radius: 50px 0px 0px 50px !important;
    max-height: 35px;
}

.input-group input{
    max-height: 35px !important;
    max-width: 200px !important;
    border-radius: 0px 50px 50px 0px !important;
    margin-left: -4px;
}

.navbar{
    max-height: 65px;
    background-color: transparentize($color: #000000, $amount: 0.85);
    opacity: 3;
}

.nav-link{
    font-size: 16px;
}
